/* src/components/Row/Row.module.css */
.rowContainer {
  border: 2px solid var(--color-primary);
  border-radius: 12px;
  padding: 20px;
  margin: 30px 0;
}

.rowTitle {
  color: var(--color-primary);
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Carrossel infinito */
.carousel {
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
