/* src/components/Card/Card.module.css */
.card {
  flex: 0 0 auto;
  width: 220px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1); /* aumenta ao passar o mouse */
}

.thumbnail {
  width: 100%;
  border-radius: 6px;
  border: 2px solid var(--color-primary);
}

/* Responsividade */
@media (max-width: 1024px) {
  .card {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 140px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100px;
  }
}
