.navbar {
  background-color: rgb(235, 140, 16);
  border-bottom: 2px solid salmon;
  padding: 10px;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar img {
  height: 40px;
}
