.banner {
  position: relative;
  height: 500px;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 40px;
  margin-top: 60px; /* espaço para navbar fixa */
}

.content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
}
